[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
mypy = "*"
rope = "*"

[packages]
gino = "*"
click = "*"
sanic = "*"
python-dotenv = "*"
alembic = "*"
psycopg2 = "==2.7.7"
pytest-sanic = "*"
pandas = "*"
sanic-cors = "*"
sanic-jwt-extended = "*"
