[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
mypy = "*"

[packages]
gino = "*"
click = "*"
sanic = "*"
python-dotenv = "*"
alembic = "*"
psycopg2 = "*"
pytest-sanic = "*"
pandas = "*"
sanic-cors = "*"
sanic-jwt = "*"