[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
"autopep8" = "*"
pylint = "*"

[packages]
gino = "*"
click = "*"
sanic = "*"
python-dotenv = "*"
jwt = "*"
alembic = "*"
psycopg2 = "*"
sanic-jwt = "*"
simple-bcrypt = "*"
pytest-sanic = "*"
pandas = "*"

[requires]
python_version = "3.6"
